

  <div class="col s12 m7">
    <div class="card horizontal small">
      <div class="card-image">
        <img src="{{catToDisplay.imageURL}}">
        <span class="card-title">{{catToDisplay.chosenName}} AKA {{catToDisplay.captiveName}}</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p>
              Human Trust Points: {{catToDisplay.humanTrust}}
            </p>
            <p>
              Strength Points: {{catToDisplay.strength}}
            </p>
            <p>
              Intelligence Points: {{catToDisplay.intelligence}}
            </p>
          </div>
        <div class="card-action">
          <a (click)="goToAttackOutcomePage()">Attack Human</a>
        </div>
      </div>
    </div>
  </div>
