<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="title" [(ngModel)]="selectedScenario.title" placeholder="Scenario Title:" id="title" type="text" class="validate">
          <label for="title"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="description" [(ngModel)]="selectedScenario.description" placeholder=" Scenario Description:" id="description" class="materialize-textarea">{{selectedScenario.description}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="optionOne" [(ngModel)]="selectedScenario.optionOne" placeholder="Option 1: " id="optionOne" type="text" class="validate">
          <input name="OptionTwo" [(ngModel)]="selectedScenario.optionTwo" placeholder="Option 2: " id="optionTwo" type="text" class="validate">
          <input name="OptionThree" [(ngModel)]="selectedScenario.optionThree" placeholder="Option 3: " id="optionThree" type="text" class="validate">
        </div>
      </div>
      <div class="row">
          <div class="input-field cols12">
            <input name="image" [(ngModel)]="selectedScenario.image" placeholder="Image URL: " id="image" type="url" class="validate" required>
          </div>
      </div>
      <a (click) = "submitChangesButtonClicked(selectedScenario)" class="waves-effect waves-light btn">Submit</a>
    </form>
  </div>
