<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="title" type="text" class="validate">
          <label for="title">Scenario Title:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Scenario Description:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="optionOne" type="text" class="validate">
          <label for="optionOne">Option 1:</label>
          <input id="optionTwo" type="text" class="validate">
          <label for="optionTwo">Option 2:</label>
          <input id="optionThree" type="text" class="validate">
          <label for="optionThree">Option 3:</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field cols12">
            <input id="imageURL" type="url" class="validate">
            <label for="imageURL" data-error="wrong" data-success="right">Image URL</label>
          </div>
      </div>
    </form>
  </div>
